---
import Brand1 from "@/assets/branding/cerveza-the-pirate.png";
import Brand2 from "@/assets/branding/pet-airlines.png";
import Editorial1 from "@/assets/editorial/13-cuentos-fantasmas.jpeg";

import Nasdaq1 from "@/assets/motion/nasdaq-cover.jpeg";
import Nasdaq2 from "@/assets/motion/nasdaq-2.png";
import Nasdaq3 from "@/assets/motion/nasdaq-3.png";
import Nasdaq4 from "@/assets/motion/nasdaq-4.png";
import Nasdaq5 from "@/assets/motion/nasdaq-5.png";
import Nasdaq6 from "@/assets/motion/nasdaq-6.png";

import Hit1 from "@/assets/motion/hitcheck-1.png";
import Hit2 from "@/assets/motion/hitcheck-2.png";
import Hit3 from "@/assets/motion/hitcheck-3.png";
import Hit4 from "@/assets/motion/hitcheck-4.png";
import Hit5 from "@/assets/motion/hitcheck-5.png";
import Hit6 from "@/assets/motion/hitcheck-6.png";

import Jungle1 from "@/assets/motion/jungletales-1.png";
import Jungle2 from "@/assets/motion/jungletales-2.png";
import Jungle3 from "@/assets/motion/jungletales-3.png";
import Jungle4 from "@/assets/motion/jungletales-4.png";
import Jungle5 from "@/assets/motion/jungletales-5.png";
import Jungle6 from "@/assets/motion/jungletales-6.png";

import Campaña1 from "@/assets/diseño/campaña-1.png";
---

<!-- Portfolio Section Start -->
<div
  class="portfolio-area style-1 column-2 white-bg section-pt pb-120 clearfix"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="portfolio-menu text-center">
          <ul class="clearfix mb-70">
            <li data-filter="*" class="active">All</li>
            <li data-filter=".branding">Branding</li>
            <li data-filter=".design">Editorial</li>
            <li data-filter=".diseño">Diseño Gráfico</li>
            <li data-filter=".photography">Motion Graphics</li>
          </ul>
        </div>
        <div class="portfolio-grid fitRows-grid">
          <div class="grid-item design percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Editorial1.src}
              >
                <img src={Editorial1.src} alt="13 cuentos fantasmas" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"
                  ><h4>13 Cuentos Fantasmas</h4></a
                >
                <p>Editorial</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Brand1.src}
              >
                <img src={Brand1.src} alt="Brand 1" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Cerveza The Pirate</h4></a>
                <p>Branding</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item photography percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Nasdaq2.src}
              >
                <img src={Nasdaq1.src} alt="Nasdaq" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Nasdaq</h4></a>
                <p>Motion Graphics</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item diseño percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Campaña1.src}
              >
                <img src={Campaña1.src} alt="Campaña Responsabilidad" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"
                  ><h4>Campaña Responsabilidad</h4></a
                >
                <p>Diseño Gráfico</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Brand2.src}
              >
                <img src={Brand2.src} alt="Brand 2" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Pet Airline</h4></a>
                <p>Branding</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item photography percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Hit3.src}
              >
                <img src={Hit2.src} alt="HitCheck" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>HitCheck</h4></a>
                <p>Motion Graphics</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item photography percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Jungle1.src}
              >
                <img src={Jungle6.src} alt="Jungle Tales" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Jungle Tales</h4></a>
                <p>Motion Graphics</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50 load-more">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/2.jpg"
              >
                <img src="assets/img/portfolio/2/style1/2.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>T shart Hanger</h4></a>
                <p>Photography</p>
              </div>
            </div>
          </div>
          <!-- Item End -->{Campaña1.src}
        </div>
        <div class="view-all text-center">
          <a
            class="btn theme-btn mt-80"
            id="load-more-btn"
            href="javascript:void(0)">Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section End -->
