---
import Brand1 from "@/assets/branding/cerveza-the-pirate.png";
import Brand2 from "@/assets/branding/pet-airlines.png";
import Editorial1 from "@/assets/editorial/13-cuentos-fantasmas.jpeg";

---

<!-- Portfolio Section Start -->
<div
  class="portfolio-area style-1 column-2 white-bg section-pt pb-120 clearfix"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="portfolio-menu text-center">
          <ul class="clearfix mb-70">
            <li data-filter="*" class="active">All</li>
            <li data-filter=".branding">Branding</li>
            <li data-filter=".design">Editorial</li>
            <li data-filter=".diseño">Diseño Gráfico</li>
            <li data-filter=".photography">Motion Graphics</li>
          </ul>
        </div>
        <div class="portfolio-grid fitRows-grid">
          <div class="grid-item photography design percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Editorial1.src}
              >
                <img src={Editorial1.src} alt="13 cuentos fantasmas" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>13 Cuentos Fantasmas</h4></a>
                <p>Editorial</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Brand1.src}
              >
                <img src={Brand1.src} alt="Brand 1" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Cerveza The Pirate</h4></a>
                <p>Branding</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item photography design percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/3.jpg"
              >
                <img src="assets/img/portfolio/2/style1/3.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Rendered Kitchen</h4></a>
                <p>Branding, Web</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item diseño percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/4.jpg"
              >
                <img src="assets/img/portfolio/2/style1/4.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Brochure Mockup</h4></a>
                <p>Print, Web</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item diseño percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/4.jpg"
              >
                <img src="assets/img/portfolio/2/style1/4.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Brochure Mockup</h4></a>
                <p>Print, Web</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href={Brand2.src}
              >
                <img src={Brand2.src} alt="Brand 2" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Pet Airline</h4></a>
                <p>Branding</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item photography percent-50">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/6.jpg"
              >
                <img src="assets/img/portfolio/2/style1/6.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Pen Mockup</h4></a>
                <p>Print, photography</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding branding percent-50 load-more">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/2.jpg"
              >
                <img src="assets/img/portfolio/2/style1/2.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>T shart Hanger</h4></a>
                <p>Photography</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
          <div class="grid-item Branding design percent-50 load-more">
            <div class="single-portfolio">
              <a
                class="venobox overlay dark-4"
                data-gall="gall-img"
                href="assets/img/portfolio/2/style1/3.jpg"
              >
                <img src="assets/img/portfolio/2/style1/3.jpg" alt="Gimri" />
              </a>
              <div class="project-title text-center">
                <a href="portfolio-details.html"><h4>Minimal Design</h4></a>
                <p>Branding, Web</p>
              </div>
            </div>
          </div>
          <!-- Item End -->
        </div>
        <div class="view-all text-center">
          <a
            class="btn theme-btn mt-80"
            id="load-more-btn"
            href="javascript:void(0)">Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section End -->
